<main data-mx="auto" style="max-width: 400px">
  <h1 data-mt="72">Login</h1>

  <form data-mt="72" method="POST" action="/login">
    <input type="hidden" name="_csrf" value="{{_csrf}}" />

    <div data-display="flex" data-direction="column" data-mx="auto">
      <div data-display="flex" data-direction="column">
        <label for="username" data-mb="6" data-fs="16">Admin username</label>
        <input id="username" name="username" type="text" required data-p="3" />
      </div>

      <div data-display="flex" data-direction="column" data-mt="12">
        <label for="password" data-mb="6" data-fs="16">Admin password</label>
        <input
          id="password"
          name="password"
          type="password"
          required
          data-p="3"
        />
      </div>

      <button type="submit" data-mt="24" data-py="3" data-px="24">Login</button>
    </div>
  </form>

  <a data-display="block" data-mt="48" href="/">Go to homepage</a>
</main>