<header
  data-display="flex"
  data-main="between"
  data-cross="center"
  data-p="24"
  data-md-py="24"
  data-md-px="12"
  data-bg="gray-800"
>
  <h1 data-fs="24" data-ls="2" data-color="gray-100" data-fw="500">resorak</h1>
  <a data-color="white" data-ls="0.5" data-mr="12" data-md-mr="0" href="/">
    Homepage
  </a>
</header>

<main data-p="24" data-pt="72" data-mx="auto">
  <form
    data-display="flex"
    data-direction="column"
    data-cross="center"
    data-mx="auto"
    data-p="24"
    data-bg="gray-100"
    method="POST"
    action="/login"
    style="
      max-width: 400px;
      border: 1px solid #e5e7eb;
      border-top: 12px solid #6b7280;
    "
  >
    <h2 data-fs="24" data-ls="1.5" data-fw="500" data-mb="48">Login</h2>

    <input type="hidden" name="_csrf" value="{{_csrf}}" />

    <div data-display="flex" data-direction="column" data-width="100%">
      <div data-display="flex" data-direction="column">
        <label for="username" data-mb="6" data-fs="16">Admin username</label>
        <input id="username" name="username" type="text" required data-p="3" />
      </div>

      <div data-display="flex" data-direction="column" data-mt="12">
        <label for="password" data-mb="6" data-fs="16">Admin password</label>
        <input
          id="password"
          name="password"
          type="password"
          required
          data-p="3"
        />
      </div>

      <button
        class="c-button"
        data-variant="primary"
        type="submit"
        data-mt="24"
      >
        Login
      </button>
    </div>

    <a data-color="gray-600" data-ls="0.5" data-mt="48" href="/">Back to
      homepage</a>
  </form>
</main>