h1 {
  margin: 0;
}

a {
  text-underline-offset: 4px;
}
a:hover {
  opacity: 0.75;
  transition: opacity 300ms;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

main {
  max-width: 672px;
}

[data-status="active"] {
  display: flex;
}

[data-status="inactive"] {
  display: none;
}

.twitter-user-thumbnail {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

[data-feed-status] {
  text-transform: uppercase;
}
[data-feed-status="active"] {
  color: green;
}
[data-feed-status="suspended"] {
  color: orange;
}
