html,
body {
  font-family: sans-serif;
}

body {
  max-width: 1200px;
}

[data-status="active"] {
  display: flex;
}

[data-status="inactive"] {
  display: none;
}

.twitter-user-thumbnail {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
