main {
  max-width: 672px;
}

[data-status="active"] {
  display: flex;
}
[data-status="inactive"] {
  display: none;
}

button[data-status="active"] > img[src="/arrow-down-icon.svg"] {
  display: none;
}
button[data-status="active"] > img[src="/arrow-up-icon.svg"] {
  display: unset;
}

button[data-status="inactive"] > img[src="/arrow-down-icon.svg"] {
  display: unset;
}
button[data-status="inactive"] > img[src="/arrow-up-icon.svg"] {
  display: none;
}

.twitter-user-thumbnail {
  height: 48px;
  width: 48px;
}

[data-feed-status="active"] {
  color: green;
}
[data-feed-status="suspended"] {
  color: orange;
}

li {
  list-style: none;
}
